.footer_subscribe {
  background-color: #63acd9;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
}
.footer_subscribe:hover {
  background-color: #5b9cc5;
}

.footer_secondary {
  background-color: #2d1c9a;
}
.footer_secondary > p {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0px;
}
.footer_secondary > p:hover {
  background-color: #281987;
}
small {
  margin: 2px 0px;
  cursor: pointer;
}
small:hover {
  text-decoration: underline;
}
