.darktheme {
  background-color: #101991;
}

.lightheme {
  background-color: #d8ecf8;
}
.logostyle {
  text-shadow: 1px 1px 3px #101991 !important;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #63acd9, #adbcc5);
}
