.searchbar__inputs {
  border: 4px solid orange;
  border-collapse: collapse;
  padding: 0.4rem;
  background-color: white;
}

.overlap {
  position: relative;
  transform: translateY(-30px);
}
.select_date {
  width: 400px;
  height: 400px;
}
@media only screen and (max-width: 768px) {
  .overlap {
    transform: translateY(-10px);
  }
  .select_date {
    width: 300px;
    height: 300px;
  }
}

.search__button {
  display: flex;
  background-color: #3e45a1;
  color: white;
  font-weight: 500;
  cursor: pointer;
  justify-content: center;
}
.search__button:hover {
  background-color: #242a7b;
}
